<h1>Products</h1>
<article>
    
<header>
    <h1>Your cart</h1>
</header>
<p><strong>First Name: </strong>{{user.first_Name}}</p>
<p><strong>Last Name: </strong>{{user.last_Name}}</p>
<p><strong>E-mail: </strong>{{user.email}}</p>
<p><strong>Age: </strong>{{user.age}}</p>

    </form>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Thumbnail</th>
        <th>Code</th>
        <th>Stock</th>
        <th>Category</th>
        <th>Quantity</th>
    </tr>
    <tr>
        {{#each products}}
            <tr>
                <td>{{product.title}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.thumbnail}}</td>
                <td>{{product.code}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.category}}</td>
                <td>{{quantity}}</td>
            </tr>
        {{/each}}
    </tr>
</table>
<footer>
<a href="/api/session/logout"role="button">Log-out</a>
<a href="/profile"role="button">Go to products</a>
</footer>
</article>