<h1>Products</h1>
<article>
    
<header>
    <h1>Welcome!</h1>
</header>
<p><strong>First Name: </strong>{{user.first_Name}}</p>
<p><strong>Last Name: </strong>{{user.last_Name}}</p>
<p><strong>E-mail: </strong>{{user.email}}</p>
    </form>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Thumbnail</th>
        <th>Code</th>
        <th>Stock</th>
        <th>Category</th>
    </tr>
    <tr>
        {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.thumbnail}}</td>
                <td>{{this.code}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
            </tr>
        {{/each}}
    </tr>
</table>
<footer>
<a href="/api/session/logout"role="button">Log-out</a>
</footer>
</article>